Импорт библиотек и модулей

In [9]:
import pandas as pd
import random

Создание списка

In [10]:
lst = ['robot'] * 10
lst += ['human'] * 10

Случайное перемешивание списка и создание ```DataFrame```

In [11]:
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  robot
3  robot
4  robot

Перевод в one hot методом ```pandas``` ```get_dummies```

In [12]:
pd.get_dummies(data['whoAmI'])

    human  robot
0    True  False
1    True  False
2   False   True
3   False   True
4   False   True
5    True  False
6   False   True
7   False   True
8    True  False
9   False   True
10   True  False
11   True  False
12  False   True
13  False   True
14  False   True
15   True  False
16   True  False
17   True  False
18   True  False
19  False   True

Перевод в one hot вид без использования метода ```pandas``` ```get_dummies```

In [17]:
one_hot = pd.DataFrame()
for who in data['whoAmI'].unique():
    one_hot[who] = [True if amI == who else False for amI in data['whoAmI']]
one_hot

    human  robot
0    True  False
1    True  False
2   False   True
3   False   True
4   False   True
5    True  False
6   False   True
7   False   True
8    True  False
9   False   True
10   True  False
11   True  False
12  False   True
13  False   True
14  False   True
15   True  False
16   True  False
17   True  False
18   True  False
19  False   True